/* Define keyframes for scaling animation */
@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  10%{
    opacity: 1;
    transform: scale(0.45);
  }
  50% {
    transform: scale(0.75);
  }
  90%{
    opacity: 1;
    transform: scale(0.95);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes scaleAndMove {
  0% {
    transform: scale(0.7) translateX(-50%);
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.7) translateX(10%);
  }
}

.scaling-image {
  animation: scaleAnimation 20s ;
}
.scaling-and-move-image {
  animation: scaleAndMove 20s ;
}

.scaling-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}
